.form, .titulo{
    color: white;
    // padding-left: 50%;
    
}
.titulo{

}
.productsForm{
    color: white;
    height: 100%;
}
.wrapper,.cuerpito{
    background-color: black;
    height: calc(100% + 2rem);
    padding-left: 25%;
}
.inputs{
color: white;
}
.mat-button-base{
    padding-left: 10%;
}