<div class="wrapper" style="background-color: black;">
    <div class="container px-4">
        <div fxLayout="row">
            <div fxFlex="30">
                <h5 class="text-xs text-primary">Acerca de nosotros</h5>
                <p class="s-text desc">
                    <span class="tab"></span> Somos un pequeño bar en el centro de la ciudad de Bahia Blanca.
                </p>
            </div>
            <div class="spacio-arriba" fxFlex="30">
                <h5 class="text-xs text-primary">Horarios</h5>
                <div class="mb-3">
                    <div class="text-xss">
                        <p class="descTit">Domingo - Miercoles</p>
                    </div>
                    <div class="s-text font-serif">
                        <p class="desc">10:00 AM - 23:30 PM</p>
                    </div>
                </div>
                <div class="mb-6">
                    <div class="text-xss">
                        <p class="descTit">Jueves - Sabados</p>
                    </div>
                    <div class="s-text font-serif">
                        <p class="desc">
                            10:00 AM - 04:00 AM
                        </p>
                    </div>
                </div>
            </div>
            <div class="spacio-arriba" fxFlex="30">
                <h5 class="text-xs text-primary">Contacto</h5>
                <div class="list-unstyled mb-6">
                    <div class="d-flex mb-2">
                        <p class="s-text desc">
                            +54 291 622 9281
                        </p>
                    </div>
                    <div class="s-text d-flex">
                        <a href="mailto:admin@barluna.com"> admin@barluna.com </a>
                    </div>
                    <div class="d-flex mb-2">
                        <p class="s-text desc">
                            Zelarrayán 43, Bahia Blanca, Provincia de Buenos Aires,
                            Argentina.
                        </p>
                        <iframe title="Ubicacion" class="espacioAlFinal iframe-wrapper"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.057871579815!2d-62.267395284058644!3d-38.71648029400614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95edbcad773ab0fd%3A0x1d5ea8878e621831!2sZelarray%C3%A1n%2043%2C%20B8000CEA%20Bah%C3%ADa%20Blanca%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1662585091525!5m2!1ses-419!2sar"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
 
        </div>
    </div>
</div>