<mat-toolbar class="bgcolor">
  <a [routerLink]="['/inicio']">
    <button mat-icon-button class="luna-icon" aria-label="luna icon">
      <span class="material-icons">nights_stay</span>

    </button>
  </a>
  <span>Bar Luna</span>

  <a id="boton-admin">
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Icon-button with user icon" >
      <span class="material-icons">build_circle</span></button>
    <mat-menu #menu="matMenu" class="menuAD"   >

      <button mat-menu-item [routerLink]="['/admin-carta']">Carta</button>
      <button mat-menu-item [routerLink]="['/admin-user']">Usuarios</button>

    </mat-menu>

  </a>

  <span class="spacer"></span>
  <a [routerLink]="['/usuario']">
    <button mat-icon-button class="user-icon" aria-label="Icon-button with user icon">
      <span class="material-icons">
        person
      </span>
    </button>
  </a>
  <!-- <a [routerLink]="['/carrito']">
    <button mat-icon-button class="carrito-icon" aria-label="carrito icon">
      <span class="material-icons">shopping_cart</span>
    </button>
  </a> -->
  <a [routerLink]="['/contacto']">
    <button mat-icon-button class="contact-icon" aria-label="Icon-button with info icon">
      <span class="material-icons">help</span>
    </button>
  </a>
  <a [routerLink]="['/aboutus']">
    <!-- poner informacion de nosotros tipo quienes somos y eso como un sobre nosotros -->
    <button mat-icon-button class="contact_support" aria-label="Icon-button with info icon">
      <span class="material-icons">info</span>
    </button>
  </a>


  <a [routerLink]="['/inicio']">
    <button mat-icon-button class="logout-icon" aria-label="Icon-button with LogOut icon">
      <span class="material-icons" (click)="logout()">logout</span>
      <!-- falta poner que se salga la sesion iniciada (con un servicio) -->
    </button>
  </a>
</mat-toolbar>