<!-- <footer class="py-7 py-md-9 bg-color fixed-bottom">
  <div class="cointainer px-4">
        <div class="col-sm-4">
            <h5 class="text-xs text-primary">Acerca de nosotros</h5>
            <p class="desc">
             <span class="tab"></span> Somos un pequeño bar en el centro de la ciudad de Bahia Blanca, que nos especializamos en nuestras pizzas a las brazas.
            </p>
        </div>
        <div class="col-sm-4">
            <h5 class="text-xs text-primary">Contacto</h5>
            <ul class="list-unstyled mb-6">
                <li class="d-flex mb-2">
                    <p class="desc">
                        <span class="tab"></span> Zelarrayán 43, Bahia Blanca, Provincia de Buenos Aires, Argentina.
                    </p>
                </li>
                <li class="d-flex mb-2">
                    <p class="desc">
                        <span class="tab"></span> +54 291 622 9281
                    </p>
                </li>
                <li class="d-flex">
                    <span class="tab"></span><a href="mailto:admin@barluna.com"> admin@barluna.com </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h5 class="text-xs text-primary">Horarios</h5>
            <div class="mb-3">
                <div class="text-xss">
                    <p class="descTit">Domingo - Miercoles</p>
                </div>
                <div class="font-serif">
                    <p class="desc">10:00 AM - 23:30 PM</p>
                </div>
            </div>
            <div class="mb-6">
                <div class="text-xss">
                    <p class="descTit">Jueves - Sabados</p>
                </div>
                <div class="font-serif">
                    <p class="desc">
                        10:00 AM - 04:00 AM
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center">
                    <hr class="hr-sm me-3" style="height: 1px;">
                    <p class="desc"> © 2021 Bar Luna. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer> -->
<footer>
    <div class="footer" #footer>
        <div class="container px-4">
            <div fxLayout="row" >
                <div fxFlex="30">
                    <h5 class="text-xs text-primary">Acerca de nosotros</h5>
                    <p class="desc">
                        <span class="tab"></span> Somos un pequeño bar en el centro de la ciudad de Bahia Blanca, que
                        nos
                        especializamos en nuestras pizzas a las brazas.
                    </p>
                </div>
                <div fxFlex="30">
                    <h5 class="text-xs text-primary">Contacto</h5>
                    <div class="list-unstyled mb-6">
                        <div class="d-flex mb-2">
                            <p class="desc">
                                 Zelarrayán 43, Bahia Blanca, Provincia de Buenos Aires,
                                Argentina.
                            </p>
                        </div>
                        <div class="d-flex mb-2">
                            <p class="desc">
                                 +54 291 622 9281
                            </p>
                        </div>
                        <div class="d-flex">
                            <a href="mailto:admin@barluna.com"> admin@barluna.com </a>
                        </div>
                    </div>
                </div>
                <div fxFlex="30">
                    <h5 class="text-xs text-primary">Horarios</h5>
                    <div class="mb-3">
                        <div class="text-xss">
                            <p class="descTit">Domingo - Miercoles</p>
                        </div>
                        <div class="font-serif">
                            <p class="desc">10:00 AM - 23:30 PM</p>
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="text-xss">
                            <p class="descTit">Jueves - Sabados</p>
                        </div>
                        <div class="font-serif">
                            <p class="desc">
                                10:00 AM - 04:00 AM
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-items-center">
                            <hr class="hr-sm me-3" style="height: 1px;">
                            <p class="desc"> © 2021 Bar Luna. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> 

<!-- <footer>
    <mat-toolbar class="md-hue-2 md-scroll-shrink">
      <div layout="row" layout-align="center center" flex>
        Powered by Webocity Technologies
      </div>
    </mat-toolbar>
</footer> -->