@use 'styles' as styles;

.detail-row{
    height: 0;

}
.bar{
    min-width: 100%;
}
.tablaProd{
    min-width: 100%;
}
.mat-col{
    flex: 0 0 100px !important;
    white-space: unset !important; 
}
.edit{
    color: rgb(255, 255, 255);
}
.delete{
    color: rgb(192, 51, 51);
}
.table{
    // justify-content: center;
    width:100%;
    
}
th.mat-header-cell {
    text-align: center !important;
    color: #f8f6f7;
    font-weight: bold;
    font-size: large;
    
}
.text-primary,
.comprar {
    color: #d63384 !important;
}

a:-webkit-any-link {
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
}

.spacer {
    flex: 1 1 auto;
}

// .hamburguesas,
// .pizzas,
// .tapeos {
//     color: black;

// }

.mat-tab-label-active,
.mat-tab-label-content {
    color: #d63384 !important;
}

// .wrapper{
//     // padding-top: 100px;
//     // height: 150vh;
//     // height: 60vh;
// }
.carta {
    text-align: center;
}
.mat-row {
    height: auto;
}

.mat-cell {
    padding: 8px 8px 8px 0 !important ;
}