<!-- <h2>Recomendados</h2> -->
<div class="wrapper bar">
    <div class="botonAgregar">
        <button mat-raised-button color="primary" class="apButton" [routerLink]="['/nuevo-producto']">Agregar Producto</button>
        
    </div>

    <table mat-table [dataSource]="pageSlice" class='tablaProd'  style="text-align: center;">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let item">{{item.id}}</td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre" class="mat-col" style="justify-content: center;">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let item">{{item.name}}</td>
        </ng-container>

       

        <!-- Ingredientes Column -->
        <ng-container matColumnDef="ingredientes" class="mat-col" style="justify-content: center;">
            <th mat-header-cell *matHeaderCellDef> Ingredientes</th>
            <td mat-cell *matCellDef="let item">{{item.ingredientes}}</td>
        </ng-container>

        <!-- Precio Column -->
        <ng-container matColumnDef="precio" class="mat-col" style="text-align: center;">
            <th mat-header-cell *matHeaderCellDef> Precio</th>
            <td mat-cell *matCellDef="let item">{{item.precio}}</td>
        </ng-container>

        <!-- Stock Column -->
        <ng-container matColumnDef="stock" class="mat-col" style="text-align: center;">
            <th mat-header-cell *matHeaderCellDef> Stock</th>
            <td mat-cell *matCellDef="let item">{{item.stock}}</td>
        </ng-container>
        <!-- Categoria Column -->
        <ng-container matColumnDef="categoria" class="mat-col" style="justify-content: center;">
            <th mat-header-cell *matHeaderCellDef> Categoria</th>
            <td mat-cell *matCellDef="let item">{{item.id_categoria}}</td>
        </ng-container>

        <ng-container matColumnDef="Editar" class="mat-col" style="text-align: center;">
            <th mat-header-cell *matHeaderCellDef>Accion</th>
            <td mat-cell *matCellDef="let item" >
                <!-- <button mat-raised-button mat-icon-button class="user-icon edit" aria-label="Icon-button with user icon" (click)="editarProducto(item)">
                     [prod]=item 
                    <span class="material-icons" >
                        
                        edit
                    </span>
                </button> -->
                <button mat-icon-button class="user-icon delete" aria-label="Icon-button with user icon" (click)="borrarProd(item)">
                    <span class="material-icons">
                        delete
                    </span>
                </button>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="text-align: center;"> </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="detail-row" style="text-align: center;"></tr>

    </table>
    <!-- class="mat-elevation-z8" -->
    <mat-paginator [length]="this.listaProductos.length" [pageSize]="15" [pageSizeOptions]="[15,25,50]"
        (page)="OnPageChange($event)">
    </mat-paginator>






</div>