<div class="wrapper">

    <div class="list-group-item clearfix" *ngFor="let item of productlist">

        <div class="pull-left">

            <h4 class="list-group-item-header"> {{item.name}}</h4>
            <div class="pull right">

            </div>
            <p class="list-group-item-description">{{item.ingredientes}}</p>
            <p class="list-group-item-description">${{item.precio}}</p>

        </div>

        <button mat-button [routerLink]="['/producto-detalle']"> Más detalles</button>
        <button mat-button>
            <p class="comprar">Comprar</p>
        </button>
    </div>
</div>