h2 {
    color: aliceblue;
    font-size:x-large;
}
.row,.text-center{
    text-align: center !important;
    color: black;
}


.comentario-width, .nombre-width, .apellido-width, .email-width {
    width: 20%;
}

.wrapper {
    background-image: url('../../../../../assets/atardecerconluna.jpg');
    // background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    // // height: 60vh;
    height: 100vh;
    
    // background-color: rgba(244, 204, 217, 0.727);

}
