.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.comprar{
  color: rgb(223, 92, 188);
  font-weight: bold;

}
