.mat-tab-label {
  color: #0a1015;
}
$colors: (
  primary: #202e3a,
  primaryLight: #253341,
  primaryDark: #15202b,
  accent: #ffc553,
  accentLight: #ffd686,
  accentDark: #ec9c00,
  warn: #bc366c,
  warnLight: #d56d97,
  warnDark: #83254b,
  success: #579db3,
  successLight: #89bac9,
  successDark: #396f80,
  orange: #f68169,
  orangeLight: #f8a695,
  orangeDark: #f24926,
  light: #f5f5f5,
  dark: #393939,
  gray: #b5b5b5,
  grayLight: #dbdbdb,
  grayDark: #535353,
  shadowDark: #0a1015,
  shadowDark2: #0a1015,
  shadowDark3: #0a1015,
);

$spacing: (
  z: 0,
  xxs: 8px,
  xs: 12px,
  s: 16px,
  m: 24px,
  l: 32px,
  xl: 48px,
  xxl: 66px,
);

@function spacing($space) {
  @return map-get($spacing, $space);
}

@function colors($color) {
  @return map-get($colors, $color);
}


