/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #000;
    background-color: #000;
}
// footer {
//     // position: absolute;
//     // right: 0;
//     // bottom: 0;
//     // // left: 0;
//     // // height: 2%;
//     // padding: 1rem;
//     // text-align: center;
//     background-color: #000 !important;
// }