@use 'styles' as styles;
::ng-deep .mat-tab-label-active {
    color: #be2b74 !important;
}
.titulo{
    color: #d63384 !important;
    font-weight: bold;
}
.text-primary, .comprar {
    color: #d63384 !important;
}
a:-webkit-any-link {
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
}
.spacer {
    flex: 1 1 auto;
}

.mat-tab-label-active,.mat-tab-label-content{
    color: #d63384 !important;
}
.wrapper{
    
    // background-color: #050505;
    background-color: #121111;
}
.carta{
    text-align: center;
}
.grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
:focus{
    outline-color: #be2b74;
}
