<!-- <gdp-navbar></gdp-navbar> -->
<h1>Carta del bar Luna</h1>
<!-- <h2>Recomendados</h2> -->
<div class="wrapper">
    <!-- <mat-tab-group class="Recomendados" dynamicHeight>
        <mat-tab label="Hamburguesas">
            <ul class="hamburguesas mat-elevation-z4">
                <li>hamburguesa 1</li>
                <li>hamburguesa 2</li>
                <li>hamburguesa 3</li>
            </ul>
        </mat-tab>
        <mat-tab label="Tapeos" class="tapeo mat-elevation-z4">
            <ul>
                <li>Tapeos 1</li>
                <li>Tapeos 2</li>
                <li>Tapeos 3</li>
            </ul>
        </mat-tab>
        <mat-tab class="text-primary" label="Pizzas">
            <ul class="pizza mat-elevation-z4">
                <li>Pizza 1</li>
                <li>Pizza 2</li>
                <li>Pizza 3</li>
            </ul>
        </mat-tab> -->
        <!-- </mat-tab-group> -->
<!-- poner aca un coso de busqueda para filtrar lo de abajo -->
    
    <h3>titulo de las comidas</h3>
    <!-- <div>A partir de aca se consumen los platos y bebidas de la base de datos, dividir por cada tipo de comida/bebida</div> -->
    <div class="carta text-left">
       
        <div class="list-group-item clearfix" *ngFor="let item of listaProductos">
            <div class="pull-left">
                <h4 class="list-group-item-header"> {{item.name}}</h4>
                <div class="pull right">
                    <img [src]="item.imagepath" alt="item.Nombre" style="max-height: 100px">
                </div>
                <p class="list-group-item-description">{{item.ingredientes}}</p>
                <p class="list-group-item-description">${{item.precio}}</p>
            </div>
            <button mat-button [routerLink]="['/producto-detalle']"> Más detalles</button>
            <button mat-button [routerLink]="['/login']">
                <p class="comprar">Comprar</p>
            </button>
        </div>
    </div>
</div>















<!-- que los admin puedan agregar/editar y eliminar comidad como tambien agregar una nueva categoria(esto se puede hacer con una tabla y listo o con las cartitas) -->