
<!-- <h1 class="titulo">Carta:</h1> -->
<!-- <h2>Recomendados</h2> -->
<div class="wrapper">
    
    
    <!-- <h3>titulo de las comidas</h3> -->
    <gdp-search></gdp-search>
    <div class="grid carta text-left">
       
        <div class="grid_item clearfix" *ngFor="let item of listaProductos">
            <div class="pull-left">
                <!-- <h4 class="list-group-item-header"> {{item.name}}</h4>
                <div class="pull right">
                    <img [src]="item.imagepath" alt="item.Nombre" style="max-height: 100px">
                </div>
                <p class="list-group-item-description">{{item.ingredientes}}</p>
                <p class="list-group-item-description">${{item.precio}}</p>
                <button mat-button routerLink='/productos/{{item.id}}'>Ver detalles</button> -->
                <gdp-card [prod]=item></gdp-card>
            </div>
            
        </div>
    </div>







</div>















