<article class="register">
  <form [formGroup]="form" class="register__content" (submit)="onSubmit()">
    <mat-form-field appearance="outline" class="register__input">
      <mat-label>Username</mat-label>
      <input matInput formControlName="name" placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="register__input">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="register__input">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Placeholder" />
    </mat-form-field>

    <button mat-flat-button color="primary" class="register__submit">
      Register
    </button>

    <section class="register__redirect">
      <a [routerLink]="['/login']"> Login</a>
    </section>
  </form>
</article>
