<article class="d-flex justify-content-center">

  <div class="wrapper">
    <div class="page-header header-filter">
      <div class="container">
        <div class="content-center brand text-center">
            <h1 class="h1-seo text-center tam" style="text-align:center;">Bar Luna</h1>
            <h2 class="text-center sp tem">
              <!-- <img class="logo" src="../../../favicon.ico" alt="LogoLuna"> -->
            </h2>
            <h3 class="text-center sp tim">
              Una nueva experiencia en el centro de la ciudad.
            </h3>
            <button mat-raised-button color="primary" [routerLink]="['/carta']" class="text-center butt tim">Mira nuestro menu </button>
        </div>
      </div>
    </div>
  </div>


</article>